*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box !important;
}
body{
	background-color: #F2F6FA;
}
a{
	text-decoration: none;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
} 
.clearfix {
	zoom:1;
}

/*toper start*/
/*法律援助 start*/
.flyz_bg{
	width: 100%;
	height: 275px;
	background: url(../img/flyz_header.png);
	position: relative;
	z-index: -1;
}
.rmtj_container{
	width: 80%;
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 40px;
}
.rmtj_title{
	width: auto;
	height: 44px;
	font-size: 34px;
	color: #FFFFFF;
	display: inline-block;
	line-height: 44px;
}
.rmtj_icon{
	width: 41px;
	height: 52px;
	background: url(../img/flyz_01.png);
	float: left;
	margin-right: 10px;
}
.rmtj_container p{
	line-height: 36px;
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 20px;
	text-align:left;
}
/*法律援助 end*/
/*如何申请法律援助*/
.law_methods_container{
	width: 1200px;
	height: 550px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: -20px;
}
.law_methods_title{
	width: 404px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	position: relative;
	top: 40px;
}
.law_methods_icon_left{
	width: 60px;
	height: 12px;
	background: url(../img/rmtj_02.png);
	display: inline-block;
}
.law_methods_icon_right{
	width: 60px;
	height: 12px;
	background: url(../img/rmtj_03.png);
	display: inline-block;
}
.law_methods_title span{
	font-size: 28px;
	color: #808080;
	margin-left: 25px;
	margin-right: 25px;
}
.law_methods_switch{
	width: 1160px;
	height: 44px;
	margin: 0 auto;
	margin-top: 80px;
}
.law_methods_switch div:first-of-type{
	background-color: #2AAB51;
	width: 232px;
	height: 44px;
	float: left;
	color: #FFFFFF;
	text-align: center;
	line-height: 44px;
	cursor: pointer;
	border: 0;
}
.law_methods_switch label{
	background-color: #F5F5F5;
	width: 232px;
	height: 44px;
	float: left;
	border: 1px solid #E6E6E6;
	text-align: center;
	line-height: 42px;
	color: #808080;
	cursor: pointer;
}

.law_methods_main{
	width: 1156px;
	height: 340px;
	background-color: #FAFAFA;
	margin: 0 auto;
	border-radius: 6px;
	margin-top: 20px;
	display: none;
}
.law_methods_main p{
	position: relative;
	top: 20px;
	font-size: 18px;
	color: #808080;
	margin-bottom: 40px;
	margin-left: 40px;
	margin-right: 40px;
}
/*标签页切换 start*/
.law_methods_container input{
	display: none;
}
.law_methods_container input:nth-of-type(1):checked ~ .law_methods_mains .law_methods_main:nth-of-type(1),
.law_methods_container input:nth-of-type(2):checked ~ .law_methods_mains .law_methods_main:nth-of-type(2),
.law_methods_container input:nth-of-type(3):checked ~ .law_methods_mains .law_methods_main:nth-of-type(3),
.law_methods_container input:nth-of-type(4):checked ~ .law_methods_mains .law_methods_main:nth-of-type(4),
.law_methods_container input:nth-of-type(5):checked ~ .law_methods_mains .law_methods_main:nth-of-type(5){
	display: block;
}
.law_methods_container input:nth-of-type(1):checked ~ .law_methods_switch label:nth-of-type(1),
.law_methods_container input:nth-of-type(2):checked ~ .law_methods_switch label:nth-of-type(2),
.law_methods_container input:nth-of-type(3):checked ~ .law_methods_switch label:nth-of-type(3),
.law_methods_container input:nth-of-type(4):checked ~ .law_methods_switch label:nth-of-type(4),
.law_methods_container input:nth-of-type(5):checked ~ .law_methods_switch label:nth-of-type(5){
	background-color: #2AAB51;
	color: #FFFFFF;
	border: 0;
}
/*标签页切换 end*/
/*如何申请法律援助end*/



/*法律援助申请流程*/
.law_process_container{
	width: 1200px;
	height: 430px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 10px;
}
.law_process_banner{
	width: 954px;
	height: 160px;
	background: url(../img/flyz_lc.png);
	margin: 0 auto;
	margin-top: 80px;
}
.law_process_zx{
	width: 570px;
	height: 46px;
	margin: 0 auto;
	margin-top: 64px;
}
.law_process_zx div:first-of-type{
	width: 240px;
	height: 46px;
	background-color: #2AAB51;
	border-radius: 6px;
	float: left;
	color: #FFFFFF;
	text-align: center;
	line-height: 46px;
	font-size: 20px;
	cursor: pointer;
}
.law_process_zx div:last-of-type{
	width: 240px;
	height: 46px;
	background-color: #2AAB51;
	border-radius: 6px;
	float: right;
	color: #FFFFFF;
	text-align: center;
	line-height: 46px;
	font-size: 20px;
	cursor: pointer;
}
/*法律援助申请流程end*/


/*政策法规和典型案例*/
.dxal_xgfg_container{
	width: 1200px;
	height: 400px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 10px;
	padding: 25px 20px;
}

/*政策法规 start*/
.typical_cases{
	width: 570px;
	height: 350px;
	background-color: #FAFAFA;
	margin-right: 20px;
	border: 1px solid #E6E6E6;
	float: left;
}
.typical_cases>div{
	width: 570px;
	height: 60px;
	border-bottom: 1px solid #E6E6E6;
}
.typical_cases>div p{
	width: 80px;
	font-size: 20px;
	font-weight: 550;
	padding: 16px 0;
	color: #656565;
	margin-left: 20px;
	border-bottom: 3px solid #CCCCCC;
}
.typical_cases_main li{
	width: 530px;
	height: 42px;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	margin: 0 auto;
	margin-bottom: 5px;
	color: #999999;
	font-size: 18px;
	line-height: 42px;
	cursor: pointer;
	background-color: #FFFFFF;
}
.typical_cases_main li:first-of-type{
	margin-top: 25px;
}
.typical_cases_main li div{
	width: 6px;
	height: 8px;
	background: url(../img/rmtj_07.png);
	margin-top: 17px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}
/*典型案例start*/
.records_laws{
	width: 570px;
	height: 350px;
	background-color: #FAFAFA;
	border: 1px solid #E6E6E6;
	float: left;
}
.records_laws>div{
	width: 570px;
	height: 60px;
	border-bottom: 1px solid #E6E6E6;
}
.records_laws>div p{
	width: 80px;
	font-size: 20px;
	font-weight: 550;
	padding: 16px 0;
	color: #656565;
	margin-left: 20px;
	border-bottom: 3px solid #CCCCCC;
}











/*政策法规和典型案例end*/
/*公证机构公证员查询*/
.mediation_organization{
	transition: all 0.5s;
	box-shadow: 0 0 0 #000;
	cursor: pointer;
}
.mediation_organization:hover{
	transform: scale(1.05,1.05);
	box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}
.mediation_organization_mediators_head{
	width: 1200px;
	height: 70px;
	margin: 0 auto;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
}
.mediation_organization_mediators_bg{
	width: 310px;
	height: 50px;
	background: url(../img/tjjg.png);
	position: relative;
	top: 10px;
	float: left;
}
.mediation_organization_mediators_bg span{
	font-size: 24px;
	color: #FFFFFF;
	line-height: 50px;
	margin-left: 30px;
}
/*搜索*/
.search{
	width: 357px;
	height: 40px;
	float: right;
	margin-top: 15px;
	margin-right: 30px;
}
.search_text{
	width: 306px;
	height: 40px;
	float: left;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	border-top: 1px solid #E6E6E6;
	border-right: none;
}
.search_icon{
	width: 50px;
	height: 40px;
	float: left;
	background: url(../img/search.png);
}
.mediation_organization_mediators_main{
	width: 1200px;
	height: 650px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 10px;
}
.mediation_organization_mediators_main_1{
	width: 1180px;
	height: 200px;
	margin: 0 auto;
	border-bottom: 1px solid #E6E6E6;	
}
.area_choose{
	width: 1180px;
	height: 36px;
	display: block;
	position: relative;
	top: 15px;
	margin-bottom: 10px;
}
.area_choose_title{
	font-size: 18px;
	color: #808080;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	cursor: pointer;
}
.county{
	width: 658px;
	height: 72px;
	background: url(../img/choose_qx_bg.png);
	margin-left: 116px;
}
.county_main{
	width: 657px;
	height: 57px;
	position: relative;
	top: 12px;
	padding-left: 20px;
}
.area_county{
	line-height: 28px;
	margin-top: 9px;
}
.area_choose_a{
	font-size: 18px;
	color: #808080;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
}
.area_choose_active{
	color: #FFFFFF;
	background-color: #2AAB51;	
}

.area_choose_icon{
	width: 15px;
	height: 10px;
	display: inline-block;
	background: url(../img/area_icon.png);
	cursor: pointer;
}
.mediation_organization_mediators_main_2{
	width: 1180px;
	height: 320px;
	margin: 0 auto;
	position: relative;
	top: 30px;
}
.mediation_organization{
	width: 270px;
	height: 320px;
	border: 1px solid #E6E6E6;
	margin-left: 20px;
	float: left;
}
.mediation_organization_icon{
	width: 92px;
	height: 92px;
	margin: 0 auto;
	margin-top: 30px;
	background: url(../img/tjjg_icon.png);
}
.mediation_organization p{
	font-size: 18px;
	color: #808080;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 10px;
}
.mediation_organization_p_icon_1{
	width: 18px;
	height: 18px;
	background: url(../img/dh.png);
	float: left;
	margin-left: 70px;
}
.mediation_organization_p{
	margin-bottom: 10px;
}
.mediation_organization_p span{
	font-size: 16px;
	color: #808080;
}
.mediation_organization_p_icon_2{
	width: 18px;
	height: 19px;
	background:url(../img/wz.png);
	float: left;
	margin-left: 36px;
}
.consulting{
	width: 190px;
	height: 32px;
	margin: 0 auto;
	border: 1px solid #2AAB51;
}
.zxzx{
	width: 91px;
	height: 30px;
	border-right: 1px solid #2AAB51;
	float: left;
	color: #2AAB51;
	text-align: center;
	line-height: 30px;
}
.lyzx{
	width: 97px;
	height: 30px;
	float: left;
	color: #2AAB51;
	text-align: center;
	line-height: 30px;
}
.the_footer{
	width: 1200px;
	height: 25px;
	position: relative;
	top: 90px;
	text-align: center;
}
.the_footer a:first-of-type{
	width: 50px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	color: #808080;
	margin-left: 15px;
}
.the_footer a{
	width: 50px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	color: #808080;
	font-size: 14px;
	margin-left: 15px;
	margin-right: 15px;
}
.the_footer a:last-of-type{
	width: 50px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	color: #808080;
	margin-left: 15px;
}