*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box !important;
}

body{
    width: 100%;
    height: auto;
    background-color: white;
}


#toper_container{
	width: 100%;
	height: 364px;
	background: url(../img/top_con.jpg);
}
/*顶部开始*/
#toper{
	width: 100%;
	height: 90px;
	background-color: #F5F5F5;
	box-shadow: 0 0 10px;
}
#top{
	width: 1226px;
	height: 90px;
	margin: 0 auto;
}
#top_left img{
	width: 344px;
	height: 60px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}
#top_right{
	width: 504px;
	height: 90px;
	float: right;
	line-height: 90px;
}
#top_right li{
	list-style: none;
	
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	
}
#top_right li a{
	font-size: 16px;
	color: #808080;
	text-decoration: none;
}
/*顶部结束*/
/*人民调解*/
#rmtj_container{
	width: 80%;
	height: 130px;
	margin: 0 auto;
	margin-top: 72px;
}
#rmtj{
	font-size: 34px;
	color: #FFFFFF;
	text-align: center;
}
#rmtj_nr{
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}
/*人民调解结束*/
/*调解服务*/
#service{
	width: 1200px;
	height: 350px;
	margin: 0 auto;
	margin-top: -20px;
}
#tjfw{
	width: 600px;
	height: 350px;
	background-color: #FFFFFF;
	float: left;
}
.tjfw_head{
	width: 600px;
	height: 59px;
	border-bottom: 1px solid #E6E6E6;
}
.tjfw_title{
	font-size: 26px;
	color: #56A3F5;
	line-height: 58px;
	margin-left: 40px;
	width: 104px;
	border-bottom: 3px solid #56A3F5;
}
.tjfw_main{
	width: 520px;
	height: 230px;
	margin: 0 auto;
	margin-top: 30px;
}
.tjfw_main1{
	width: 160px;
	height: 230px;
	float: left;
	background: url(../img/zxzx.png);
}
.tjfw_main2{
	margin-left: 20px;
	margin-right: 20px;
	width: 160px;
	height: 230px;
	float: left;
	background: url(../img/tjsq.png);
}
.tjfw_main3{
	width: 160px;
	height: 230px;
	float: left;
	background: url(../img/dtcz.png);
}
#fwzy{
	width: 590px;
	height: 350px;
	background-color: #FFFFFF;
	float: left;
	margin-left: 10px;
}
/*调解服务结束*/
/*服务指引*/
.fwzy_head{
	width: 590px;
	height: 59px;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 30px;
}
.fwzy_title{
	float: left;
}
.fwzy_icon{
	width: 86px;
	height: 26px;
	border-radius: 10px;
	border: 1px solid #56A3F5;
	float: right;
	text-align: center;
	line-height: 26px;
	margin-top: 20px;
	margin-right: 44px;
	color: #808080;
}
.fwzy_main{
	width: 538px;
	height: 38px;
	margin: 0 auto;
	border-radius: 6px;
	border: 1px solid #E6E6E6;
	margin-bottom: 7px;
}
.fwzy_main img{
	width: 10px;
	height: 10px;
	margin-top: 14px;
	margin-left: 8px;
	margin-right: 8px;
}
.fwzy_main span{
	color: #808080;
}
/*服务指引结束*/
/*典型案例*/
.dxal_cjwt_main{
	width: 1200px;
	height: 350px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 10px;
}
.dxal{
	width: 600px;
	height: 350px;
	float: left;
}
.dxal_head{
	width: 534px;
	height: 60px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
}
.dxal_main{
	width: 534px;
	height: 234px;
	margin: 0 auto;
}
.dxal_head_1{
	width: 266px;
	height: 57px;
	background: url(../img/dxal.png);
	float: left;
}
.dxal_head_1 p{
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	line-height: 48px;
}
.dxal_head_2{
	width: 266px;
	height: 45px;
	float: left;
	background-color: #F5F5F5;
	border: 1px solid #E6E6E6;
}
.dxal_head_2 p{
	font-size: 20px;
	color: #939393;
	text-align: center;
	line-height: 45px;
}
/*典型案例结束*/
/*调解机构调解员查询*/
.tjjg_tjy_head{
	width: 1200px;
	height: 70px;
	margin: 0 auto;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tjjg_tjy_bg{
	width: 310px;
	height: 50px;
	background: url(../img/tjjg.png);
	position: relative;
	top: 10px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	line-height: 50px;
	float: left;
}
/*搜索*/
.search{
	width: 357px;
	height: 40px;
	float: right;
	margin-top: 15px;
	margin-right: 30px;
}
.search_text{
	width: 306px;
	height: 38px;
	float: left;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	border-top: 1px solid #E6E6E6;
	border-right: none;
}
.search_icon{
	width: 50px;
	height: 40px;
	float: right;
	background: url(../img/search.png);
}
.tjjg_tjy_main{
	width: 1200px;
	height: 620px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 10px;
}
.tjjg_tjy_main_1{
	width: 1180px;
	height: 160px;
	margin: 0 auto;
	border-bottom: 1px solid #E6E6E6;	
}
.area{
	width: 1180px;
	height: 36px;
	display: block;
	position: relative;
	top: 30px;
	margin-bottom: 20px;
}
.area_li_1{
	list-style: none;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	color: #808080;
}
.area_li_2{
	padding-left: 20px;
	list-style: none;
	float: left;
	font-size: 20px;
	color: #808080;
}
.area_li_3{
	color: #FFFFFF;
	display: block;
	background-color: #56A3F5;
}
.jflx{
	position: relative;
	top: 80px;
}
.tjjg_tjy_main_2{
	width: 1180px;
	height: 320px;
	margin: 0 auto;
	position: relative;
	top: 30px;
}
.tjjg{
	width: 270px;
	height: 320px;
	border: 1px solid #E6E6E6;
	margin-left: 20px;
	float: left;
}
.tjjg_icon{
	width: 92px;
	height: 92px;
	margin: 0 auto;
	margin-top: 30px;
	background: url(../img/tjjg_icon.png);
}
.tjjg p{
	font-size: 18px;
	color: #808080;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 10px;
}
.tjjg_p_icon_1{
	width: 18px;
	height: 18px;
	background: url(../img/dh.png);
	float: left;
	margin-left: 70px;
}
.tjjg_p{
	margin-bottom: 10px;
}
.tjjg_p span{
	font-size: 16px;
	color: #808080;
}
.tjjg_p_icon_2{
	width: 18px;
	height: 19px;
	background:url(../img/wz.png);
	float: left;
	margin-left: 36px;
}
.zx{
	width: 190px;
	height: 30px;
	margin: 0 auto;
	border: 1px solid #56A3F5;
}
.zxzx{
	width: 91px;
	height: 30px;
	border-right: 1px solid #56A3F5;
	float: left;
	color: #56A3F5;
	text-align: center;
	line-height: 30px;
}
.lyzx{
	width: 97px;
	height: 30px;
	float: left;
	color: #56A3F5;
	text-align: center;
	line-height: 30px;
}
.tjjg_tjy_main_3{
	width: 1200px;
	height: 20px;
	position: relative;
	top: 90px;
	text-align: center;
}
.prov{
	color: #808080;
	font-size: 16px;
	text-decoration: none;
	margin-right: 30px;
}
.next{
	color: #808080;
	font-size: 16px;
	text-decoration: none;
}
/*调解机构调解员查询结束*/
/*底部*/
.foot{
	width: 100%;
	height: 170px;
	background-color: #595959;
}
.foot_main{
	width: 1200px;
	height: 170px;
	margin: 0 auto;
}
.foot_logo{
	width: 94px;
	height: 54px;
	background: url(../img/foot_logo.png);
	position: relative;
	top: 46px;
	left: 50px;
	right: 50px;
	float: left;
}
.foot_nav{
	width: 520px;
	height: 70px;
	float: left;
	margin-top: 42px;
	margin-left: 100px;
}
.foot ul{
	list-style: none;
	float: left;
	font-size: 14px;
}
.foot_li_1{
	float: left;
	color: #E6E6E6;
}
.foot_li_2{
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	color: #E6E6E6;
}
.foot_nav p{
	color: #E6E6E6;
	font-size: 14px;
}
.ewm{
	width: 114px;
	height: 86px;
	float: right;
	margin-right: 62px;
	margin-top: 40px;
}
.ewm_icon{
	width: 56px;
	height: 56px;
	background: url(../img/ewm.png);
	margin: 0 auto;
}
.ewm p{
	font-size: 14px;
	color: #F5F5F5;
}
.ewm_{
	width: 114px;
	height: 86px;
	float: right;
	margin-right: 22px;
	margin-top: 40px;
}
.ewm_ p{
	font-size: 14px;
	color: #F5F5F5;
}
/*底部结束*/




.header_top{
	width: 100%;
	height: 90px;
	background-color: #f5f5f5;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	padding-top: 15px;
}

.header_top h1{
	width: 0;
	height: 0;
	margin: 0 auto !important;
	text-indent: -9999px;
}

.header_top_logo{
	width: 345px;
	height: 53px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5%;
}

.header_top_list{
	width: 360px;
	height: 53px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 25%;
}

.header_top_list ul li{
	width: 120px;
	height: 53px;
	float: left;
	text-align: center;
	font: bold 17px/53px arial,sans-serif;
}

.header_top_list ul li a{
	color: rgba(0,0,0,0.7);
	text-decoration: none;
}

.header_top_list ul li a:hover{
	text-decoration: none;
}


.header_top_login{
	width: 100px;
	height: 53px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 2%;
}

.header_top_login ul li{
	width: 49px;
	height: 53px;
	float: left;
	text-align: center;
	font: bold 15px/53px arial,sans-serif;
}

.header_top_login ul li:nth-of-type(2){
	width: 2px;
	color: #666;
}


.header_top_login ul li a{
	color: rgba(0,0,0,0.5);
	text-decoration: none;
}

.header_top_login ul li a:hover{
	text-decoration: none;
}




footer{
	width: 100%;
	height: 120px;
	background-color: #808080;
}

.footer_info{
	width: 500px;
	height: 120px;
	margin-left: 10%;
	display: inline-block;
	vertical-align: middle;
}

.footer_info img{
	display: inline-block;
	vertical-align: middle;
}


.footer_info_text{
	width: 380px;
	height: 120px;
	float: right;
	color: #Fff;
	display: inline-block;
	vertical-align: middle;
	padding-top: 30px;
	padding-left: 15px;
	
}

.footer_info_text p{
	font: bold 13px/28px arial,sans-serif;
	color: #fff;
}


.footer_info_list{
	width: 270px;
	height: 120px;
	float: right;
	margin-right: 10%;
	display: inline-block;
	vertical-align: middle;
}

.footer_info_list ul li{
	width: 56px;
	height: 120px;
	padding-top: 20px;
	float: left;
	margin-right: 80px;
}

.footer_info_list ul li img{
	margin-bottom: 10px;
}

.footer_info_list ul li p{
	white-space: nowrap;
	color: #fff;
	font: bold 13px/20px arial,sans-serif;
	text-indent: -23px;
	text-align: center;
}

.footer_info_list ul li:nth-of-type(2){
	margin-right: 0;
}
